/*variables*/

//GENERAL
$content_panel_body:#FAFAFA;
$content_panel_header:rgb(90,156,204);

$bg_form:rgb(158,210,247);

$fonts:#D8D8D8;
$fonts_hover:#FFFFFF;

$btn_menu:#FAFAFA;

$icons_font:#A4A4A4;
$icons_font_hover:rgba(0, 0, 0, 0.58);

$pagination_r_f:#333333;
$pagination_disable:#A4A4A4;

$bk_scroll:#efefef;

//CHAT COMPONENT
$bg_chat_user:#3498db;
$font_chat_user:#FFFFFF;

$bg_chat_other_user:#D8D8D8;
$font_chat_other_user:black;

//ADMON USER COMPONENT
$ic_edit:#3498db;
$bk_trans:rgba(0, 0, 0, 0.12);
$bk_trans_hover:rgba(0, 0, 0, 0.20);
$ic_delete:#FF0000;

$online_user:#42b72a;
$online_user_border:#FFFFFF;
$offline_user:#D8D8D8;

$login_facebook:#3864c1;
$login_facebook_hover:#3b5998;

$login_google:#ff1919;
$login_google_hover:#FF0000;

