/*variables*/

//GENERAL
$content_panel_body: #333333;
$content_panel_header:rgba(0, 0, 0, 0.20);

$bg_form:#FAFAFA;

$fonts:#D8D8D8;
$fonts_hover:#FFFFFF;

$btn_menu:#FAFAFA;

$icons_font:#A4A4A4;
$icons_font_hover:rgba(0, 0, 0, 0.58);

//CHAT COMPONENT
$bg_chat_user:#3498db;
$font_chat_user:#FFFFFF;

$bg_chat_other_user:#D8D8D8;
$font_chat_other_user:black;
