@import 'variables.scss';

@media (max-width: 759px) {}

@media (max-width: 320px) {}

/*|****|COMPONENT LOGIN|****|*/

#titulo{
    margin:0 25px 0 25px;
    color:$fonts;
    position:relative;
    background-color:$icons_font_hover;
    top:-40px;
    padding:10px 0 10px 0;
}
.lgform{
    margin-top:60px;
}
.btn_login_facebook {
    background-color: $login_facebook;
    color:$bg_form;
    &:hover{
      background-color:$login_facebook_hover;
      color:$fonts_hover;
    }
}

.btn_login_google{
    background-color:$login_google;
    color:$bg_form;
    &:hover{
    background-color:$login_google_hover;
    color:$fonts_hover;
    }
}