@import 'variables.scss';
.i_edit{
  color:#3864c1;
  padding:10px;
  &:hover{
    cursor:pointer;
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    background-color: rgba(0, 0, 0, 0.12);
  }
}
.i_delete{
  color:#FF0000;
  padding:10px;
  &:hover{
    cursor:pointer;
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    background-color: rgba(0, 0, 0, 0.12);
  }
}
.user_online{
  border: 1.5px solid #42b72a;
}
.user_offline{
  border: 1.5px solid #D8D8D8;
}
.table_list_users{
  tbody{
    tr{
      td{
        padding: 5px 10px 5px 5px;
        img{
          cursor:pointer;
          background-color: #FFFFFF;
          width: 40px;
          height: 40px;
          border-radius: 100px;
          -moz-border-radius: 100px;
          -webkit-border-radius: 100px;
          border: 1.5px solid rgba(0, 0, 0, 0.13);
          &:hover{
            border: 1.5px solid rgba(0, 0, 0, 0.20);
          }
        }
      }
    }
  }
}
.user_online_prueba{
  position: relative;
  width: 10px;
  left: -12px;
  top: 12px;
  display: inline;
  background-color: #42b72a;
  color: #42b72a;
  font-size: 9px;
  padding: 0px 6px 0px 6px;
  border: 1.4px solid #FFFFFF;
  border-radius: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  z-index: 1;
}
.user_offline_prueba{
  position: relative;
  width: 10px;
  left: -12px;
  top: 12px;
  display: inline;
  background-color: $icons_font;
  color: $icons_font;
  font-size: 9px;
  padding: 0px 6px 0px 6px;
  border: 1.4px solid #FFFFFF;
  border-radius: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  z-index: 1;
}

//PAGINATION LIST USER
.pagination_right{
    cursor: pointer;
    margin-left: 20px;
    color:#333333;
}
.pagination_left{
    cursor: pointer;
    margin-right: 20px;
    color:#333333;
}
.pagination_disable{
    cursor:no-drop;
    background-color:#FFF;
    color:#A4A4A4;
}

//MORE USER LIST
.div_more_pag{
  p{
    color:rgba(0, 0, 0, 0.7);
    i{
      border-radius: 3px;
      -moz-border-radius: 3px;
      -webkit-border-radius:3px;
     // font-size: 12px;
      color:#A4A4A4;
      border: 1px solid #A4A4A4;
      padding:3px;
      margin-left:10px;
      &:hover{
        cursor:pointer;
        color:rgba(0, 0, 0, 0.7);
        border: 1px solid rgba(0, 0, 0, 0.7);
      }
    }
  }
}
