@import 'variables.scss';
.i_edit{
  color:$ic_edit;
  padding:10px;
  &:hover{
    cursor:pointer;
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    background-color: $bk_trans;
  }
}
.i_delete{
  color:$ic_delete;
  padding:10px;
  &:hover{
    cursor:pointer;
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    background-color: $bk_trans;
  }
}
.user_online{
  border: 1.5px solid $online_user;
}
.user_offline{
  border: 1.5px solid $offline_user;
}
.table_list_users{
  tbody{
    tr{
      td{
        padding: 5px 10px 5px 5px;
        img{
          cursor:pointer;
          background-color: $font_chat_user;
          width: 40px;
          height: 40px;
          border-radius: 100px;
          -moz-border-radius: 100px;
          -webkit-border-radius: 100px;
          border: 1.5px solid $bk_trans;
          &:hover{
            border: 1.5px solid $bk_trans_hover;
          }
        }
      }
    }
  }
}
.user_online_prueba{
  position: relative;
  width: 10px;
  left: -12px;
  top: 12px;
  display: inline;
  background-color: $online_user;
  color: $online_user;
  font-size: 9px;
  padding: 0px 6px 0px 6px;
  border: 1.4px solid $online_user_border;
  border-radius: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  z-index: 1;
}
.user_offline_prueba{
  position: relative;
  width: 10px;
  left: -12px;
  top: 12px;
  display: inline;
  background-color: $icons_font;
  color: $icons_font;
  font-size: 9px;
  padding: 0px 6px 0px 6px;
  border: 1.4px solid $online_user_border;
  border-radius: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  z-index: 1;
}

//PAGINATION LIST USER
.pagination_right{
    cursor: pointer;
    margin-left: 20px;
    color:$pagination_r_f;
}
.pagination_left{
    cursor: pointer;
    margin-right: 20px;
    color:$pagination_r_f;
}
.pagination_disable{
    cursor:no-drop;
    background-color:$font_chat_user;
    color:$pagination_disable;
}

//MORE USER LIST
.div_more_pag{
  p{
    color:rgba(0, 0, 0, 0.7);
    i{
      border-radius: 3px;
      -moz-border-radius: 3px;
      -webkit-border-radius:3px;
     // font-size: 12px;
      color:$icons_font;
      border: 1px solid $icons_font;
      padding:3px;
      margin-left:10px;
      &:hover{
        cursor:pointer;
        color:rgba(0, 0, 0, 0.7);
        border: 1px solid rgba(0, 0, 0, 0.7);
      }
    }
  }
}

@media (max-width: 759px) {}

@media (max-width: 320px) {}
