@import 'variables.scss';

/*|****|COMPONENT CHAT|****|*/
.li_chat{
    border:0;
    padding:2px;
}
.list_msn{
  height:250px;
  overflow-y: scroll;
}
.bubble_chat_user{
  margin-left:47px;
  background-color:$bg_chat_user;
  padding:4px;
  color:$font_chat_user;
  border-radius: 15px 0px 15px 15px;
  -moz-border-radius: 15px 0px 15px 15px;
  -webkit-border-radius: 15px 0px 15px 15px;
}

.date_chat_user{
  font-size:10px;
  color:$font_chat_user;
}

.bubble_chat_other_user{
  margin-right:47px;
  background-color:$bg_chat_other_user;
  padding:4px;
  color:$font_chat_other_user;
  border-radius: 0px 15px 15px 15px;
  -moz-border-radius: 0px 15px 15px 15px;
  -webkit-border-radius: 0px 15px 15px 15px;
}

.date_chat_other_user{
  font-size:10px;
  color:$font_chat_other_user;
}
.div_online_user{
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  width: 100%;
  img{
      margin:0 2px 0 5px;
      flex: 0 0 auto;
      width: 35px;
      height: 35px;
      border-radius:100px;
      -moz-border-radius:100px;
      -webkit-border-radius:100px;
      border: 1.5px solid $bk_trans;
      &:hover{
        border: 1.5px solid $bk_trans_hover;
      }
  }
}
.chat_user_online{
  position: relative;
  width: 9px;
  height: 15px;
  left: -13px;
  top: 20px;
  display: inline;
  background-color: $online_user;
  color: $online_user;
  font-size: 9px;
  padding: 0px 6px 0px 6px;
  border: 1.4px solid $online_user_border;
  border-radius: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  z-index: 1;
}
@media (max-width: 759px) {}

@media (max-width: 320px) {}